# python 3.5
# Direct dependencies:
# flask==1.1
# markovify
# flask_script
# flask_migrate
# flask_moment
# flask_sqlalchemy

alembic==0.9.0
awsebcli==3.10.0
blessed==1.14.1
botocore==1.5.19
cement==2.8.2
certifi==2018.8.24
click==6.7
colorama==0.3.7
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.13.1
Flask==1.1.0
Flask-Migrate==2.5.3
Flask-Moment==0.9.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.1
itsdangerous==0.24
Jinja2==2.11.2
jmespath==0.9.1
Mako==1.0.6
markovify==0.8.0
MarkupSafe==0.23
pathspec==0.5.0
psycopg2==2.8.5
python-dateutil==2.6.0
python-editor==1.0.3
PyYAML==3.12
requests==2.9.1
semantic-version==2.5.0
six==1.10.0
SQLAlchemy==1.1.6
tabulate==0.7.5
termcolor==1.1.0
Unidecode==0.4.20
wcwidth==0.1.7
websocket-client==0.40.0
Werkzeug==1.0.1
