<!DOCTYPE html>
<html lang='en'>
<head>
{% block head %}
    <title>Robot Kelly</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 

    <link rel="manifest" href="{{ url_for('static', filename='icons/manifest.json') }}">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One|Open+Sans" rel="stylesheet">
    <meta property="og:url" content="{{ url_for('.index', _external=True) }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Robot R.Kelly">
    <meta property="og:description" content="Let Robot R.Kelly write you a beautiful song.">
    
{% endblock %}
   
</head>

<body>

<main>
    {% block contents %}    
    {% endblock %}   
</main>

<nav class="sticky">
    {% block nav %}
    <ul>
        <li><a href="" title="Facebook" tabindex="1">
            <img src="{{ url_for('static', filename='icons/facebook-icon-57x57.png') }}" width="50" height="50"> 
        </a></li>

        <li><a href="" title="Github" tabindex="3">
            <img src="{{ url_for('static', filename='icons/GitHub-Mark-Light-64px.png') }}" width="50" height="50"
        </a></li>
    </ul>
    {% endblock %}
</nav>


{% block footer %}
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/analytics.js') }}"></script>
{% endblock %}
</body>
</html>