<!DOCTYPE html>
<html lang='en'>
<head>
{% block head %}
<title>Robot Kelly</title>
<meta name="viewport" content="initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 

{# favicons #}
<link rel="manifest" href="{{ url_for('static', filename='icons/manifest.json') }}">
<meta name="theme-color" content="#ffffff">
<link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">

<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}">

<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icons/favicon-32x32.png') }}">

<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icons/favicon-16x16.png') }}">

<link rel="manifest" href="{{ url_for('static', filename='icons/manifest.json') }}">

<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">

<meta name="theme-color" content="#ffffff">

{# fonts #}
<link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One|Open+Sans" rel="stylesheet">


{# open graph #}
<meta property="og:url" content="{{ url_for('.index', _external=True) }}">
<meta property="og:type" content="website">
<meta property="og:title" content="Robot R.Kelly">
<meta property="og:description" content="Let Robot R.Kelly write you a beautiful song.">
<meta property="og:image" content="{{url_for('static', filename='icons/robokelly_fb.jpg', _external=True)}}">
<meta property="fb:app_id" content="140201889868560" />
{% endblock %}
   
</head>

<body>

{# facebook SDK #}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '140201889868560',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();   
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<main>
    {% block contents %}    
    {% endblock %}   
</main>

{% block footer %}

{% endblock %}

{% block script %}


<div>

  <div class="social fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="large" data-mobile-iframe="true">
  <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a>
  </div>

  <a  href="https://github.com/hanhanhan/robot_rkelly" title="Github"><img class="social" src="{{ url_for('static', filename='icons/GitHub-Mark-Light-64px.png') }} "></img></a>

</div>
{% endblock %}
</body>
</html>