{% extends "base.html" %}

{% block head %}
{{ super() }}
<meta property="og:description" content="Let Robot R.Kelly write you a beautiful song.">
{% endblock %}

{% block contents %}

<div>

    <div class="glitch-container">
        <h1 data-text="R.Kelly" class="robo-glam glitch">R.Kelly</h1>
    </div>

    <form action="{{ url_for('.lyrics') }}">
    <button type="submit">
    <span class="avoidwrap">Please Write</span> <span class="avoidwrap">Me a Song</span></button>
    </form>

</div>

{% endblock %}