{% extends "base.html" %}

{% block head %}
    {{super()}}
{% endblock %}

{% block contents %}
    
        <h2 class="robo-glam">
            {{ song.title }}
        </h2>
    <div class="lyrics">
        {{ song.song_lyrics | safe }}
    </div>  

    <div>
        <h3 class="robo-glam">By Robot Kelly</h3>
    </div>
    <br>
    <div>
        <form action="{{ url_for('.lyrics') }}">
        <button type="submit">Please 
        Write Me Another</button>
        </form>
    </div>

{% endblock %}
